{% extends "navegacion.html" %}
{% load static %}

{% block content %}
<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center" style="background: #f8f9fa;">
    <div style="width: 700px; max-width: 90%;">
        <h2 class="mb-4 text-center">Crear Usuario</h2>
        <form method="POST" class="shadow-sm p-4 bg-white rounded" >
            {% csrf_token %}
            <div class="mb-3">
                <label for="empleado" class="form-label">Empleado:</label>
                <select name="empleado" class="form-select" required>
                    <option value="">Seleccione un empleado</option>
                    {% for empleado in empleados %}
                    <option value="{{ empleado.idEmpleado }}">{{ empleado.nombresEmpleado }} {{ empleado.apellidosEmpleado }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario:</label>
                <input type="text" name="username" class="form-control" value=""   required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" name="password" class="form-control" value=""  required>
            </div>
            <div class="mb-3">
                <label for="grupo" class="form-label">Rol:</label>
                <select name="grupo" class="form-select" required>
                    <option value="">Seleccione un rol</option>
                    {% for grupo in grupos %}
                    <option value="{{ grupo.id }}">{{ grupo.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">Crear Usuario</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
