{% extends 'navegacion.html' %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" href="{% static 'CSS/listar_proveedores.css' %}" />
<script src="{% static 'JS/usuario_lista.js' %}"></script>
<title>Usuarios</title>
</head>
<div class="container mt-3">
    <h2 class="mb-4">Lista de usuarios</h2>
    <div>
        <a href="{% url 'crear_usuario' %}" class="btn btn-success">Crear Usuario</a>
    </div>
    <div class="div-table">
    <table class="table table-striped w-85 mx-auto">
        <thead>
            <tr>
                <th class="w-5">ID</th>
                <th class="w-15">Usuario</th>
                <th class="w-15">Empleado</th>
                <th class="w-15">Correo</th>
                <th class="w-7">Rol</th>
                <th class="w-10">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% if usuarios %}
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.idEmpleado }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                      {% for group in usuario.groups.all %}
                        {{ group.name }}{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </td>
                    <td>
                      <a href="{% url 'modificar_usuario' usuario.id %}" class="btn btn-primary">Editar</a>
                      <button 
                          type="button"
                          class="btn btn-danger"
                          data-bs-toggle="modal"
                          data-bs-target="#modalEliminarUsuario"
                          data-url="{% url 'eliminar_usuario' usuario.id %}"
                          data-nombre="{{ usuario.username }}"
                          >
                        Eliminar
                      </button>
                      <a href="{% url 'ver_usuario' usuario.id %}" class="btn btn-info">Ver</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="text-center">No hay usuarios registrados</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    </div>
</div>

<!-- Modal de Éxito -->
<div class="modal fade" id="mensajeModal" tabindex="-1" aria-labelledby="mensajeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-limon">
        <h5 class="modal-title" id="mensajeModalLabel"><i class="bi bi-check-circle"></i> Registro satisfactorio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body" id="modalMensajeTexto">
        Aquí va el mensaje
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Confirmación de Eliminación de Usuario -->
<div class="modal fade" id="modalEliminarUsuario" tabindex="-1" aria-labelledby="modalEliminarUsuarioLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     <form id="formEliminarUsuario" method="post" action="">
  {% csrf_token %}
  <div class="modal-header bg-danger text-white">
    <h5 class="modal-title" id="modalEliminarUsuarioLabel">
      <i class="bi bi-exclamation-octagon-fill me-2"></i>Confirmar eliminación
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
  </div>
  <div class="modal-body">
    ¿Estás seguro que deseas eliminar al usuario <strong id="modalNombreUsuario"></strong>?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-danger">Sí, eliminar</button>
  </div>
</form>
    </div>
  </div>
</div>

{% if messages %}
  <input type="hidden" id="mensajeExito" value="{{ messages.0|escapejs }}">
{% endif %}

{% endblock %}
