{% extends 'navegacion.html' %}
{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Producto para Menu</title>
</head>
<div class="container mt-4 card shadow w-50">
    <div class="card-body">
        <div class="d-flex justify-content-center align-items-center text-center">
            <div class=" w-25">
                <a type="button w-25" class="btn btn-primary" style="border-radius:50px;"
                    href="{% url 'listar_productos_menu' %}">Regresar</a>
            </div>
            <div class=" w-50">
                <h5 class="card-title m-3 text-center">Producto: {{producto.nombreProductoMenu}}</h5>
            </div>
            <div class=" w-25 ">
                <a type="button" class="btn btn-warning " style="border-radius:50px;"
                    href="{% url 'editar_producto_menu' producto.idProductoMenu %}">Editar</a>
            </div>
        </div>
        <div class="mt-4">
            <p> Unidad (Porcion/Tamaño): <strong>{{producto.tamanioProductoMenu}}</strong></p>
            <p> Descripción: <strong>{{producto.descripcionProductoMenu}}</strong></p>
            <p> Precio unitario: $<strong>{{producto.precioProductoMenu}}</strong></p>
            <p> Categoria: <strong>{{producto.idCategoriaProductoMenu.nombreCategoriaProductoMenu}}</strong></p>
        </div>
    </div>
</div>

{% endblock %}