table{
    width: 100%;
    
    border-collapse: collapse;
    table-layout: fixed;
}
tr, th, td{
    border: 1px solid rgba(126, 125, 125, 0.267);
    padding: 8px;
    word-wrap: break-word;
}
tr{
    text-align: center;
}

.div-table{
    border: 1px solid rgba(126, 125, 125, 0.267);
    margin-top: 2%;
    
}
h2{
    text-align: center;
}
.div-paginacion{
    margin-top: 2%;
}
.bg-limon{
    background-color: #6bd35d;
}
#div-registrar{
    display: flex;
    justify-content: right;
}
.form-busqueda{
    display: flex;
    
    align-items: center;
    margin-bottom: 1%;
}
#busquedaCliente{
    max-width: 460px;
}
#btn-registrar{
    margin-left: auto;
}