{% extends 'navegacion.html' %} {%load static%}
{% block content %}
<head>
    
</head>

<div class="container justify-content-center">
    <div class="row text-center mt-4">
        <h1>Crear detalle de inventario</h1>
    </div>

    <div class="row my-2">
        <div class="col-5 text-end">
            <h5>Fecha del inventario: {{ fecha_inventario }}</h5>
        </div>
        <div class="col-5 text-center">
            <h5>Hora de creacion: {{ hora_inventario }}</h5>
        </div>
        <!-- <div class="col-2 align-content-start text-start">
            <button type="button" class="btn btn-primary" style="border-radius:50px;">Crear detalle</button>
        </div> -->
    </div>
    <div class="row my-2 px-2 justify-content-center" style="background-color: #f3edd9;">
        <div class="col-6 align-content-end">
            <h3 class="text-center">Producto:</h3>
        </div>
        <div class="col-6 justify-content-start">
            <input class="form-control w-100 col-5" id="product_select" />
        </div>
    </div>
    <div class="row my-2 px-2 justify-content-center">
        <div class="col-auto py-1 d-flex align-items-center">
            <label for="unidad_de_medida" class="mb-0">Unidad de medida:</label>
        </div>
        <div class="col-sm-4">
            <select class="form-control w-100" id="unidad_de_medida">
                <option>unidad de medida</option>
            </select>
        </div>
        <div class="col-auto py-1 d-flex align-items-center">
            <label for="marca" class="mb-0">Marca:</label>
        </div>
        <div class="col-sm-4">
            <input type="text" readonly class="form-control-plaintext w-100" id="marca" value="Coca" />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-10">
            <table class="table table-borderless text-center" id="tabla-cantidades">
                <thead>
                    <tr>
                        <th style="width: auto;">Cantidad</th>
                        <th>Fecha y hora de ingreso</th>
                        <th>Fecha de caducidad</th>
                        <th style="width: auto;">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" style="border-radius: 50px;" id="btnNuevafila">Agregar nueva cantidad </button>
        </div>
    </div>
</div>

<script src="{% static 'JS/crear_detalle_inventario.js' %}"></script>
{% endblock %}