{% extends 'navegacion.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row text-center mt-4">
        <h1>Inventario</h1>
    </div>

    <div class="row my-2">
        <div class="col-5 text-end">
            <h5>Fecha del inventario: {{ fecha_inventario }}</h5>
        </div>
        <div class="col-5 text-center">
            <h5>Hora de creacion: {{ hora_inventario }}</h5>
        </div>
        <div class="col-2 align-content-start text-start">
            <button type="button" class="btn btn-primary" style="border-radius:50px;">Crear inventario</button>
        </div>
    </div>

    <div class="row mt-2 mx-5">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Stock</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>
    </div>

</div>




{% endblock %}