{% extends 'navegacion.html' %} {%load static%}
{% block content %}

<head>

</head>
<div class="container justify-content-center card p-4 my-5 shadow">
    <div class="row text-center my-2">
        <h2>Detalle de inventario</h2>
    </div>

    <div class="row my-2 border-bottom">
        <div class="col-6 text-center">
            <h5>Fecha del inventario: {{ fecha_inventario }}</h5>
        </div>
        <div class="col-6 text-center">
            <h5>Hora de creacion del inventario: {{ hora_inventario }}</h5>
        </div>

    </div>
    <div class="row my-2 px-2 justify-content-center">

        <div class="col-5 align-content-center border-end">
            <h5 class="text-start fw-bold">Datos de producto:</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong> Nombre: </strong> {{producto.nombreProducto}}</li>
                <li class="list-group-item"><strong> Unidad de medida: </strong> {{producto.unidadMedida}}</li>
                <li class="list-group-item"><strong> Marca: </strong> {{producto.marcaProducto}}</li>
            </ul>
        </div>
        <div class="col-7 align-content-start">
            <table class="table  text-center" id="tabla-cantidades">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Fecha y hora de ingreso</th>
                        <th>Fecha de caducidad</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for detalle in detalles %}
                    <tr>
                        <td>{{ detalle.cantidadProducto }}</td>
                        <td>{{ detalle.fechaIngreso }} {{ detalle.horaIngreso }}</td>
                        <td>{{ detalle.fechaCaducidad }}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-3">
        <a type="button" class="text-center btn btn-primary w-25  " id="btnVolver"
            href="{% url 'ver_inventario_id' inventario.idInventario %}">Regresar a inventario</a>
    </div>
</div>

<!-- <script src="{% static 'JS/crear_detalle_inventario.js' %}"></script> -->
{% endblock %}