<!DOCTYPE html>
<html lang="en">
    {% extends 'navegacion.html' %} {% load static %} {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Cliente</title>
    <link rel="stylesheet" href="{% static 'CSS/detalle_cliente.css' %}">
    <script src="{% static 'JS/listar_cliente.js' %}"></script>
</head>
<body>
    <div class="container mt-3">
        <div id="div-card">
            
        <h1 class="mb-4">Detalle del cliente</h1>
        
        <div class="botones">
                <td> <a class="btn btn-primary" href="{% url 'editar_cliente' cliente.idCliente %}">Editar</a>
                {% if user.groups.first.name == 'Jefe' or user.groups.first.name == 'Gerente' %}
                <button data-bs-toggle="modal" data-bs-target="#modalConfirmarEliminar" type="button" class="btn btn-danger btn-eliminar" href="#" data-id="{{ cliente.idCliente }}" data-nombre="{{ cliente.nombreCliente }}">Eliminar</button>
                <a class="btn btn-info" href="/clientes/listar_clientes">Regresar</a>
                        {% endif %}
            </div>
            </div>
        <div class="list-group list-group-flush">
            <div id="div-contenido">
            <p><strong>Nombre: </strong> {{ cliente.nombreCliente }} {{ cliente.apellidoCliente }} </p>
            <p><strong>DUI: </strong> {{ cliente.duiCliente }}
            <p><strong>Nacimiento: </strong> {{ cliente.nacimientoCliente|date:"d-m-Y" }} </p>
            <p><strong>Teléfono: </strong> {{ cliente.telefonoCliente }} </p>
            <p><strong>Correo electrónico: </strong> {{ cliente.emailCliente }} </p>
                </div>
            <h3 class="mt-3 mb-1">Direcciones asociadas:</h3>
            {% if direcciones %}
                {% for direccion in direcciones %}
                    <p><strong>Dirección {{ forloop.counter }}: </strong> {{ direccion.direccion }}</p>                            
                {% endfor %}
            {% else %}
                <p><strong>Dirección: </strong> No hay direcciones registradas.</p> 
            {% endif %}
        </div>
    </div>
    <!--Tabla para pedidos de clientes-->
    <div class="container mt-3" id="div-pedidos">
        <div class="div-h3pedidos">
            <h3 id="h3-pedidos">Ultimos pedidos del cliente</h3>
            <button class="btn btn-secondary">Ver pedidos</button>
        </div>
        {% if pedidos %}
        <div class="tabla-pedidos-wrapper">
        <table class="table table-striped tabla-pedidos-fade">
            <thead>
                <tr>                    
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr class="fila-pedido fila-pedido-{{ forloop.counter }}">
                    <td>{{ pedido.fechaPedidoCliente|date:"d/m/Y" }} {{ pedido.horaPedidoCliente }}</td>
                    <td>${{ pedido.totalPedido }}</td>
                    <td>{{ pedido.estadoPedido }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% else %}
            <p>No hay pedidos registrados para este cliente.</p>
        {% endif %}
    </div>
    <!--Modales-->
        <div class="modal fade" id="modalConfirmarEliminar" tabindex="-1" aria-labelledby="confirmarEliminarLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="confirmarEliminarLabel"><i class="bi bi-exclamation-triangle"></i>  Aviso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de eliminar al cliente <strong id="modalNombreCliente"></strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a href="#" id="btnEliminarCliente" class="btn btn-danger">Sí, eliminar</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}