<!DOCTYPE html>
<html lang="en">
    {% extends 'navegacion.html' %} {% load static %} {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/listar_clientes.css' %}">
    <script src="{% static 'JS/listar_cliente.js' %}"></script>
    <title>Listar Clientes</title>
</head>
<body>
    <div class="container mt-3">
    <h2 class="mb-4">Lista de clientes</h2>
    <form method="get" class="form-busqueda">
        <div class="campo-busqueda">
            <input type="text" name="q" id="busquedaCliente" class="form-control" placeholder="Buscar por nombre, apellido o correo..." value="{{ query }}">
        </div>
        <div class = "div-boton-buscar">
            <button type="submit" class="btn btn-primary">Buscar</button>
            <button type="button" id="btn-reiniciar" class="btn btn-secondary">Reiniciar</button>
        </div>
        <div class="campo-registrar">
            <a href="/clientes/registrar_cliente" class="btn btn-success" id="btn-registrar">Registrar cliente</a>
            </div>
    </form>

    <div class="div-table" id="resultados">
        <table class="table table-striped">
            <thead>
                <tr> 
                    <th class="w-15">Nombre cliente</th>
                    <th class="w-15">Correo electrónico</th>
                    <th class="w-7">Teléfono</th>
                    <th class="w-10">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if clientes_paginados.object_list %}
                {% for cliente in clientes_paginados %}
                    <tr>
                        <td>{{ cliente.nombreCliente }} {{ cliente.apellidoCliente }}</td>
                        <td>{{ cliente.emailCliente }}</td>
                        <td>{{ cliente.telefonoCliente }}</td>
                        
                        <td> <a class="btn btn-primary" href="{% url 'editar_cliente' cliente.idCliente %}">Editar</a>
                        
                        {% if user.groups.first.name == 'Jefe' or user.groups.first.name == 'Gerente' %}
                         <button data-bs-toggle="modal" data-bs-target="#modalConfirmarEliminar" type="button" class="btn btn-danger btn-eliminar" href="#" data-id="{{ cliente.idCliente }}" data-nombre="{{ cliente.nombreCliente }}">Eliminar</button>
                        {% endif %}

                         <a class="btn btn-info" href="{%  url 'detalle_cliente' cliente.idCliente %}">Ver</a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <div class="container mt-4">
                        <h2>No hay clientes registrados.</h2>
                    </div>
                    {% endif %}
            </tbody>
        </table>
    </div>
<div class="div-paginacion" id="paginacion">
    <nav>
        <ul class="pagination justify-content-center">
            {% if clientes_paginados.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1&q={{ query }}">&laquo; Primero</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ clientes_paginados.previous_page_number }}&q={{ query }}">Anterior</a>
            </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link">
                    Página {{ clientes_paginados.number }} de {{ clientes_paginados.paginator.num_pages }}
                </span>
            </li>

            {% if clientes_paginados.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ clientes_paginados.next_page_number }}&q={{ query }}">Siguiente</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ clientes_paginados.paginator.num_pages }}&q={{ query }}">Último &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<div class="modal fade" id="mensajeModal" tabindex="-1" aria-labelledby="mensajeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-limon">
        <h5 class="modal-title" id="mensajeModalLabel"><i class="bi bi-check-circle"></i>  Registro satisfactorio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body" id="modalMensajeTexto">
        Aquí va el mensaje
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

    </div>
    <div class="modal fade" id="modalConfirmarEliminar" tabindex="-1" aria-labelledby="confirmarEliminarLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="confirmarEliminarLabel"><i class="bi bi-exclamation-triangle"></i>  Aviso</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de eliminar al cliente <strong id="modalNombreCliente"></strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a href="#" id="btnEliminarCliente" class="btn btn-danger">Sí, eliminar</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}