<!DOCTYPE html>
<html lang="es-Sv">
    {% extends 'navegacion.html' %} {% load static %} {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registrar_cliente.css' %}">
    <title>Registrar Cliente</title>
</head>
<body>
    <div id="div-contenedor">
        <form id="div-registro" method="post">
            {% csrf_token %}
            <h1>Registrar Cliente</h1>
            <div id="div-fila-1">   
            <div class="campo">
                <label>Nombre:</label>
                <input type="text" name="nombre">
            </div>
            <div class="campo">
                <label>Apellidos:</label>
                <input type="text" name="apellidos">
            </div>
            <div class="campo">
                <label>DUI:</label>
                <input type="text" name="dui">
            </div>
            <div class="campo">
                <label>Teléfono:</label>
                <input type="text" name="telefono">
            </div>
            <div class="campo">
                <label>Correo:</label>
                <input pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{2,5}" type="text" name="correo" required placeholder="ejemplo@correo.com">
            </div>
            <div class="campo">
                <label>Fecha de nacimiento:</label>
                <input type="date" name="fecha_nacimiento">
            </div>
            <div class="campo full">
                <label>Dirección:</label>
                <textarea name="direccion" id="direccion" rows="2" cols="80"></textarea>                
            </div>
            <div id="campo">
                <button class="btn btn-info">Agregar otra dirección</button>
                </div> 
            </div>
            <div class="div-botones">
                <button class="btn btn-success btn-registro" type="submit">Registrar</button>
                <a class="btn btn-danger btn-registro" href="/cliente/listar_clientes">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>

{% endblock %}