{% extends 'navegacion.html' %}

{% block content %}

<div class="container mt-3">
    <h2 class="mb-4">Lista de proveedores</h2>
    <div>
        <a href="{% url 'registrar_proveedor' %}" class="btn btn-success">Registrar nuevo proveedor</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Proveedor</th>
                <th>Empresa</th>
                <th>Telefono</th>
                <th>Tiene IVA</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if proveedores %}
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.idProveedor }}</td>
                    <td>{{ proveedor.nombreEncargado }}</td>
                    <td>{{ proveedor.nombreEmpresa }}</td>
                    <td>{{ proveedor.telProveedor }}</td>
                    {% if proveedor.tieneIva %}
                    <td>Si</td>
                    {% else %}
                    <td>No</td>
                    {% endif %}
                    <td><a href="#" class="btn btn-primary">Editar</a></td>
                        <td><a href="#" class="btn btn-danger">Eliminar</a></td>
                        <td><a href="#" class="btn btn-info">Ver</a></td>
                </tr>
            {% endfor %}
            {% else %}
                <div class="container mt-4">
                    <h2>No hay proveedores registrados.</h2>
                </div>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}