{% extends 'navegacion.html' %}

{% load static %}{% block content %}
<link rel="stylesheet" href="{% static 'css/listar_proveedores.css' %}" />
<script src="{% static 'JS/registrar_proveedor.js' %}"></script>
<div class="container mt-3">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <h2 class="mb-4">Lista de proveedores</h2>
    <div>
        <a href="{% url 'registrar_proveedor' %}" class="btn btn-success">Registrar nuevo proveedor</a>
    </div>
    <div class="div-table">
    <table class="table table-striped w-85 mx-auto">
        <thead>
            <tr>
                <th class="w-5">ID</th>
                <th class="w-15">Nombre</th>
                <th class="w-15">Apellido</th>
                <th class="w-15">Empresa</th>
                <th class="w-7">Telefono</th>
                <th class="w-7">Tiene IVA</th>
                <th  class="w-10">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if proveedores_paginados.object_list %}
            {% for proveedor in proveedores_paginados %}
                <tr>
                    <td>{{ proveedor.idProveedor }}</td>
                    <td>{{ proveedor.nombreEncargado }}</td>
                    <td>{{ proveedor.apellidoEncargado }}</td>
                    <td>{{ proveedor.nombreEmpresa }}</td>
                    <td>{{ proveedor.telProveedor }}</td>
                    {% if proveedor.tieneIva %}
                    <td>Si</td>
                    {% else %}
                    <td>No</td>
                    {% endif %}
                    <td><a href="{% url 'editar_proveedor' proveedor.idProveedor %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'deshabilitar_proveedor' proveedor.idProveedor %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar al proveedor {{ proveedor.nombreEncargado }}?');">Eliminar</a>
                        <a href="{% url 'detalle_proveedor' proveedor.idProveedor %}" class="btn btn-info">Ver</a></td>
                </tr>
            {% endfor %}
            {% else %}
                <div class="container mt-4">
                    <h2>No hay proveedores registrados.</h2>
                </div>
            {% endif %}
        </tbody>
    </table>
    </div>
    <div class="paginacion-proveedores">
    <nav aria-label="Paginación de proveedores">
  <ul class="pagination justify-content-center">
    {% if proveedores_paginados.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; Primero</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ proveedores_paginados.previous_page_number }}">Anterior</a>
      </li>
    {% endif %}

    <li class="page-item active">
      <span class="page-link">
        Página {{ proveedores_paginados.number }} de {{ proveedores_paginados.paginator.num_pages }}
      </span>
    </li>

    {% if proveedores_paginados.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ proveedores_paginados.next_page_number }}">Siguiente</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ proveedores_paginados.paginator.num_pages }}">Última &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>
</div>
</div>

{% endblock %}