{% extends 'navegacion.html' %}

{% load static %}{% block content %}
<link rel="stylesheet" href="{% static 'css/listar_proveedores.css' %}" />
<div class="container mt-3">
    <h2 class="mb-4">Lista de proveedores</h2>
    <div>
        <a href="{% url 'registrar_proveedor' %}" class="btn btn-success">Registrar nuevo proveedor</a>
    </div>
    <div class="div-table">
    <table class="table table-striped w-85 mx-auto">
        <thead>
            <tr>
                <th class="w-5">ID</th>
                <th class="w-15">Nombre</th>
                <th class="w-15">Apellido</th>
                <th class="w-15">Empresa</th>
                <th class="w-7">Telefono</th>
                <th class="w-7">Tiene IVA</th>
                <th  class="w-10">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if proveedores %}
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.idProveedor }}</td>
                    <td>{{ proveedor.nombreEncargado }}</td>
                    <td>{{ proveedor.apellidoEncargado }}</td>
                    <td>{{ proveedor.nombreEmpresa }}</td>
                    <td>{{ proveedor.telProveedor }}</td>
                    {% if proveedor.tieneIva %}
                    <td>Si</td>
                    {% else %}
                    <td>No</td>
                    {% endif %}
                    <td><a href="#" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-danger">Eliminar</a>
                        <a href="#" class="btn btn-info">Ver</a></td>
                </tr>
            {% endfor %}
            {% else %}
                <div class="container mt-4">
                    <h2>No hay proveedores registrados.</h2>
                </div>
            {% endif %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}