<!DOCTYPE html>
<html lang="en">
{% extends 'navegacion.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de proveedor</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quasi officia aut, mollitia, consequuntur magnam iste necessitatibus hic, consectetur quod quos ipsam? Accusamus repellat quisquam ea optio numquam ullam veniam.</p>
</body>
</html>

{% endblock %}