{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
<body>
    


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Bienvenido, {{ request.user.username }} </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Inventario
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{%url 'ver_inventario'%}">Ver inventario actual</a></li>
            <li><a class="dropdown-item" href="{%url 'listar_inventario'  %}">Lista de inventarios</a></li>
          </ul>
        </li>
          {% if user.groups.first.name == 'Jefe'%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{%url 'registrar_producto' %}">Registrar Producto</a></li>
            <li><a class="dropdown-item" href="{%url 'listar_productos'  %}">Lista de Productos</a></li>
          </ul>
        </li>
        {% endif %}
        {% if user.groups.first.name == 'Jefe' or user.groups.first.name == 'Gerente' %}
        <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Empleados
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">    
    <li><a class="dropdown-item" href="/empleado/registrar_empleado/">Registrar Empleado</a></li>
    <li><a class="dropdown-item" href="/empleado/empleado_lista/">Lista de Empleados</a></li>    
  </ul>
  {% endif %}
</li>
<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proveedores
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/Proveedor/listar_proveedores/">Lista de Proveedores</a></li>
            {% if user.groups.first.name == 'Jefe' or user.groups.first.name == 'Gerente' %}
            <li><a class="dropdown-item" href="/Proveedor/registrar_proveedor/">Registrar Proveedor</a></li>  
            {% endif %}          
          </ul>
        </li>
               <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Asistencia
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/empleado/marcar_asistencia/">Marcar Asistencia</a></li>
    {% if user.groups.first.name == 'Jefe' %}
    <li><a class="dropdown-item" href="/empleado/historial_asistencia">Lista de Asistencias</a></li>
    {% endif %}
  </ul>        
        {% if user.groups.first.name == 'Jefe' %}
        <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Usuarios
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/seguridad/crear_usuario/">Crear Usuario</a></li>
    <li><a class="dropdown-item" href="/seguridad/usuario_lista/">Lista de Usuario</a></li>
  </ul>
  {% endif %}
</li>
        </ul>
        <a href="{% url 'logout' %}" class="btn btn-outline-danger">Cerrar Sesión</a>
        </div>
  </div>
</nav>

{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>